_site/
.obsidian/  # to exclude Obsidian workspace settings (including plugin and hotkey configurations)
# OR
.obsidian/workspace  # to exlude workspace cache

# Add below lines to exclude OS settings and caches
.trash/
.DS_Store
.DS_Store
.obsidian/app.json
.obsidian/appearance.json
.obsidian/core-plugins.json
.obsidian/workspace
.obsidian/community-plugins.json
.obsidian/hotkeys.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/manifest.json
.obsidian/plugins/obsidian-git/main.js
.obsidian/plugins/obsidian-git/data.json
.obsidian/community-plugins.json
.obsidian/workspace
